<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- todo insert css -->
    <link rel="stylesheet" href="styles/stylefile.css">
    <link rel="icon" href="images/icon.png" type="image/png">
    <title>AirBnb Clone</title>
  </head>
  <body>
    <header>
      <div class="logo">
      </div>
    </header>
    <div class="container">

    </div>
    <footer>
      <p>
        Holberton School
      </p>
    </footer>
  </body>
  <!-- todo make real js herer -->
  <script type="text/javascript" src="js/javascripts.js"></script>
</html>
